
:root{
    --blur-color: #bdbdbd0f;
    --background-color: #e9ddff;
    --footer-color: #dd00ff;
    --accent-color: #0011ff;
    --accent-color-soft: #009dff88;
    --contrast-color: #FFF172;
    --contrast-color-soft:#FFFBB8;


}